* {
  box-sizing: border-box;
}
body {
  background: url('https://i.imgur.com/sYSGIiO.jpg') center center no-repeat fixed;
  background-size: cover;
  font-family: 'Comfortaa', 'Helvetica', 'Arial', cursive;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 200px;
}
a {
  color: #1C1C1C;
  text-decoration: none;
}
h1 {
  font-size: 2.25em;
  font-weight: 900;
  transition: all 0.2s;
  transform: scale(1.2);
}
h1:hover {
  transform: scale(1.3);
}
.titleLink:hover {
  color: #FFF;
}
header button {
  background-color: #D11919;
  color: #FFF;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px black inset;
  transition: all 0.2s;
}
header button:hover {
  cursor: pointer;
  background-color: #E31B1B;
  transform: scale(1.05);
}
.clickHeader {
  height: 150px;
  flex-flow: row;
}
.clickButton {
  display: none;
}



main {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.resultsContainer {
  width: 312px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 1px solid black;
}
ul {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  width: 310px;
  background-color: white;
}
h2 {
  margin: 0;
  display: inline-block;
}
h2 a {
  font-size: 20px;
}
#distanceStyle {
  color: grey
}